@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Staff Managment</h1>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Full Name</th>
			<th>Title</th>
            <th>Actions</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <th>@item.StaffId</th>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>
                    <a asp-action="View" asp-route-id="@item.StaffId" class="btn btn-primary">View</a>
                    <a asp-action="UpdateStaff" asp-route-id="@item.StaffId" class="btn btn-warning">Edit</a>
                    <a asp-action="DeleteStaff" asp-route-id="@item.StaffId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
    <a href="/Staff/AddStaff/" class="btn btn-outline-success">Create New Staff</a>
</div>

